# DataSource Config
spring:
  jpa:
    database: MYSQL
    show-sql: true
    open-in-view: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true #使用延时加载时控制Session的生命周期
        dialect: org.hibernate.dialect.MySQLDialect
        ddl-auto: update
  rabbitmq:
#    开启发送端确认
    publisher-confirm-type: correlated
#  开去发送端抵达队列的确认
    publisher-returns: true
#    只要抵达队列，以异步方式优先回调这个returnsConfirm
    template:
      mandatory: true
#    手动ack消息
#    只要没有手动确认，队列重的消息就不会在被消费后删除，下一次消费者进来再发给他
    listener:
      simple:
        acknowledge-mode: manual

  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    default-property-inclusion: non_null
    time-zone: GMT+8
server:
  port: 8081
  max-http-request-header-size: 10MB

#配置自定义的线程池
blog:
  thread:
    core-size: 20
    max-size: 100
    keep-alive-time: 10
  add-resource-handler: /upload/**
  img-fold-name: img
  highest-role: admin

#logging:
#  level:
#    com.markerhub.mapper: debug
